extends layout

block content
    div(height="600px", width="300px")
    h4= "Thank you for applying. We will get in touch with you a soon as possible"
    br
    a(href='/', class='btn btn-primary')= "Back"